@model IEnumerable<FitnessApp.Models.TrainingSession>

<h2>Най-популярни тренировки</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Име</th>
            <th>Треньор</th>
            <th>Брой записани</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var session in Model)
        {
            <tr>
                <td>@session.Name</td>
                <td>@session.Trainer</td>
                <td>@session.Reservations.Count</td>
            </tr>
        }
    </tbody>
</table>
